<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Perfil</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body
    class="bg-zinc-900 text-white flex items-center justify-center min-h-screen"
  >
    <div class="w-full max-w-3xl">
      <div class="bg-zinc-800 shadow-md rounded-lg px-8 pt-6 pb-8 mb-4">
        <div class="flex items-center mb-6">
          <img
            src="<%= user.avatar %>"
            alt="<%= user.name %>"
            class="w-16 h-16 rounded-full mr-4"
          />
          <h1 class="text-3xl font-bold">Perfil de <%= user.name %></h1>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
          <div>
            <p class="text-lg font-semibold">ID:</p>
            <p class="text-zinc-400"><%= user.id %></p>
          </div>
          <div>
            <p class="text-lg font-semibold">Nome:</p>
            <p class="text-zinc-400"><%= user.name %></p>
          </div>
          <div>
            <p class="text-lg font-semibold">Email:</p>
            <p class="text-zinc-400"><%= user.email %></p>
          </div>
          <div>
            <p class="text-lg font-semibold">Role:</p>
            <p class="text-zinc-400 capitalize"><%= user.role %></p>
          </div>
        </div>

        <div class="mt-6">
          <h2 class="text-xl font-bold mb-2">Módulos:</h2>
          <ul class="list-disc list-inside space-y-1">
            <% user.modules.forEach(module => { %>
            <li class="text-zinc-400"><%= module %></li>
            <% }); %>
          </ul>
        </div>

        <div class="mt-6">
          <h2 class="text-xl font-bold mb-2">Alterar Avatar:</h2>
          <form
            action="/atualizarAvatar"
            method="POST"
            enctype="multipart/form-data"
          >
            <div class="flex items-center space-x-4">
              <input
                class="bg-zinc-700 border border-zinc-600 text-zinc-300 rounded w-full py-2 px-3 focus:outline-none focus:shadow-outline"
                id="avatar"
                type="file"
                name="avatar"
                required
              />
              <button
                type="submit"
                class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-6 rounded-lg"
              >
                Atualizar
              </button>
            </div>
          </form>
        </div>

        <div class="mt-6 flex justify-end">
          <a
            href="/home"
            class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-6 rounded-lg"
          >
            Voltar ao Home
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
